@model UserSearchViewModel

@{
    ViewBag.PreviousPage = Model.Page - 1;
    ViewBag.NextPage = Model.Page + 1;
}

<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Search</label>
        <input value="@Model.SearchValue" asp-for="@Model.SearchValue" type="text" class="form-control" placeholder="Search by username">
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="User" asp-action="Search">Search</button>
</form>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (Model.Page == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" asp-action="Search" asp-controller="User" asp-route-searchValue="@Model.SearchValue" asp-route-page="@ViewBag.PreviousPage">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Search" asp-controller="User" asp-route-searchValue="@Model.SearchValue" asp-route-page="@ViewBag.PreviousPage">Previous</a>
            </li>
        }
        @if (Model.AllMatchesCount <= Model.Page * 5)
        {
            <li class="page-item disabled">
                <a class="page-link" asp-action="Search" asp-controller="User" asp-route-searchValue="@Model.SearchValue" asp-route-page="@ViewBag.NextPage">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Search" asp-controller="User" asp-route-searchValue="@Model.SearchValue" asp-route-page="@ViewBag.NextPage">Next</a>
            </li>
        }
    </ul>
</nav>

@if (Model.Users.Count == 0 && Model.SearchValue != null)
{
    <p class="text-center">No matches found</p>
}
else
{
    @foreach (var user in Model.Users)
    {
        <p>@user.Nickname - @user.FirstName @user.LastName</p>
    }
}